/* Import Variables*/
@import url(variables.scss);

/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

body {
  font-size: 1.4rem;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #93a4aa;
  // text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  // box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/*
   * Header
   */

.masthead {
  margin-bottom: 2rem;

  &-brand {
    margin-bottom: 0;
  }
}

.nav-masthead {

  .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;

    &:hover {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    &:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }
  }

  .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .active {
    color: #fff;
    border-bottom-color: #fff;
  }

}


@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
   * Cover
   */

.cover {

  padding: 0 1.5rem;

  .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

}

.cover-heading {
  font-size: 3.7rem;
  color: #fff;
  font-weight: 700;
  &-subtitle {
    color: #fff
  }
}

/*
   * Footer
   */

.mastfoot {
  color: rgba(255, 255, 255, .5);
}

#home {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-color: #252a30;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-hero {
  position: relative;
  background-image: none;
}

@media screen and (min-width: 550px) {
  .home-hero {
    background-image: url(/assets/img/computer-programing.jpeg);
  }
}

@media screen and (min-width: 550px) {
  .hero-container {
    padding: 0 40px;
  }
}

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.hero-content {
  display: table-cell;
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 750px) {
  .learn-more {
    font-size: 1.7rem;
  }
}

.learn-more {
  bottom: 2.5%;
  display: inline-block;
  font-size: 1.3rem;
  left: 50%;
  padding: 20px;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  a {
    color: #fff;
    //color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-bottom: none;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }

  }
}

/*
* Portfolio
*/

#projects {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;

  i.fa {
    font-size: 5.0rem;
  }


  .expertise-block {

    margin: 4.0rem 0 1.0rem;

    img {
      height: 100px;
      width: 200px;
    }

    h4.title {
      margin: 1.8rem 0;
    }


    p {
      margin-bottom: 0;
      line-height: 1.8;
      font-size: 1.4rem;
    }

  }

}

@media screen and (min-width: 1000px) {
  section {
    padding: 0 0 100px;
  }
}

@media screen and (min-width: 750px) {
  section {
    padding: 0 0 80px;
  }
}

@media screen and (min-width: 550px) {
  section {
    padding: 0 0 65px;
  }
}

section {
  padding: 0 0 65px;
}

.container {
  max-width: 1140px;
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media screen and (min-width: 750px) {
  p.intro {
    font-size: 3.2rem;
    margin: 10rem 0 2.0rem;
  }
}

p.intro {
  font-size: 2.0rem;
  margin: 6rem 0 1.8rem;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
}

.slate {
  color: #252a30;
}

@media screen and (min-width: 750px) {
  p.statement {
    font-size: 2.0rem;
  }
}

p.statement {
  font-size: 1.6rem;
  text-align: center;
}

.gunmetal {
  color: #524e4d;
}

@media screen and (min-width: 750px) {
  #projects .expertise-block {
    margin: 4.0rem 0 0;
  }
}

.yellow {
  color: #FED766;
}