/*
 * Globals
 */

$primary-color: #1e836c;

//#45b29a
$color4: rgba(98, 150, 119, 1); //#629677
$color3: rgba(152, 182, 177, 1);
$color5: rgba(73, 93, 99, 1);

$color1: rgba(250, 200, 205, 1);
$color2: rgba(215, 188, 200, 1);
