/*
 * Globals
 */
/* Text bold */
b {
  font-weight: bold; }

/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
body {
  font-size: 1.4rem;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #93a4aa; }

.cover-container {
  max-width: 42em; }

/*
   * Header
   */
.masthead {
  margin-bottom: 2rem; }
  .masthead-brand {
    margin-bottom: 0; }

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }
  .nav-masthead .nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, 0.25); }
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff; }

@media (min-width: 48em) {
  .masthead-brand {
    float: left; }
  .nav-masthead {
    float: right; } }

/*
   * Cover
   */
.cover {
  padding: 0 1.5rem; }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700; }

.cover-heading {
  font-size: 3.7rem;
  color: #fff;
  font-weight: 700; }
  .cover-heading-subtitle {
    color: #fff; }

/*
   * Footer
   */
.mastfoot {
  color: rgba(255, 255, 255, 0.5); }

#home {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-color: #252a30;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.home-hero {
  position: relative;
  background-image: none; }

@media screen and (min-width: 550px) {
  .home-hero {
    background-image: url(/assets/img/computer-programing.jpeg); } }

@media screen and (min-width: 550px) {
  .hero-container {
    padding: 0 40px; } }

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%; }

.hero-content {
  display: table-cell;
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle; }

@media screen and (min-width: 750px) {
  .learn-more {
    font-size: 1.7rem; } }

.learn-more {
  bottom: 2.5%;
  display: inline-block;
  font-size: 1.3rem;
  left: 50%;
  padding: 20px;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
  .learn-more a {
    color: #fff;
    text-decoration: none;
    border-bottom: none; }
    .learn-more a:hover {
      color: rgba(255, 255, 255, 0.7); }

/*
* Portfolio, About and Contact
*/
#projects {
  background-color: #eee; }

#about {
  background-color: #fff; }

#contact form {
  text-align: left; }

#projects, #about, #contact {
  text-align: center;
  margin: 0 auto; }
  #projects i.fa, #about i.fa, #contact i.fa {
    font-size: 5.0rem; }
  #projects .expertise-block, #about .expertise-block, #contact .expertise-block {
    margin: 4.0rem 0 1.0rem; }
    #projects .expertise-block img, #about .expertise-block img, #contact .expertise-block img {
      height: 100px;
      width: 200px; }
    #projects .expertise-block h4.title, #about .expertise-block h4.title, #contact .expertise-block h4.title {
      margin: 1.8rem 0; }
    #projects .expertise-block p, #about .expertise-block p, #contact .expertise-block p {
      margin-bottom: 0;
      line-height: 1.8;
      font-size: 1.4rem; }

@media screen and (min-width: 1000px) {
  section {
    padding: 0 0 100px; } }

@media screen and (min-width: 750px) {
  section {
    padding: 0 0 80px; } }

@media screen and (min-width: 550px) {
  section {
    padding: 0 0 65px; } }

section {
  padding: 0 0 65px; }

.container {
  max-width: 1140px; }

@media (min-width: 550px) {
  .container {
    width: 80%; } }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

@media screen and (min-width: 750px) {
  p.intro {
    font-size: 3.2rem;
    margin: 10rem 0 2.0rem; } }

p.intro {
  font-size: 2.0rem;
  margin: 6rem 0 1.8rem;
  line-height: 1.4;
  font-weight: 700;
  text-align: center; }

.slate {
  color: #252a30; }

@media screen and (min-width: 750px) {
  p.statement {
    font-size: 2.0rem; } }

p.statement {
  font-size: 1.6rem;
  text-align: center; }

.gunmetal {
  color: #524e4d; }

@media screen and (min-width: 750px) {
  #projects,
  #about,
  #contact .expertise-block {
    margin: 4.0rem 0 0; } }

/*
* Footer
*/
#footer {
  padding: 80px 0 50px;
  background-color: #252a30;
  color: #fff;
  text-align: center;
  font-size: 14px; }
  #footer a {
    text-decoration: none; }
  #footer .social-links a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin: 0 4px;
    height: 36px;
    width: 36px;
    font-size: 1.6rem !important;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049; }
  .scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px; }
  .scroll-top .btn-primary {
    color: white;
    background-color: #404040;
    border-color: #404040;
    font-weight: 700; }
  .scroll-top .btn-primary:hover, .scroll-top .btn-primary:focus, .scroll-top .btn-primary.active {
    color: white !important;
    background-color: #272727 !important;
    border-color: #272727 !important;
    box-shadow: none !important; }
  .scroll-top .btn-primary:active {
    color: white !important;
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important;
    box-shadow: none !important; }
